<div class="seat-selector">
    <label title="靠窗"><input type="radio" name="seat_type" value="A"><span class="seat-box">A</span></label>
    <label title="中间"><input type="radio" name="seat_type" value="B"><span class="seat-box">B</span></label>
    <label title="靠道"><input type="radio" name="seat_type" value="C"><span class="seat-box">C</span></label>
    <div class="seat-aisle"></div>
    <label title="靠道"><input type="radio" name="seat_type" value="D"><span class="seat-box">D</span></label>
    <label title="靠窗"><input type="radio" name="seat_type" value="F"><span class="seat-box">F</span></label>
</div>
